{% if page.branding %}
  <div class="branding">
    {{ page.branding }}
  </div>
{% endif %}

{% if page.navigation %}
  <div class="navigation">
    {{ page.navigation }}
  </div>
{% endif %}

{% if page.off_canvas %}
  <div class="off-canvas">
    {{ page.off_canvas }}
  </div>
{% endif %}

{% if page.featured %}
  <div class="featured">
    {{ page.featured }}
  </div>
{% endif %}

{% if page.highlighted %}
  <div class="highlighted">
    {{ page.highlighted }}
  </div>
{% endif %}

{% if page.sidebar %}
  <div class="sidebar">
    {{ page.sidebar }}
  </div>
{% endif %}

{% if page.content %}
  <div class="content">
    {{ page.content }}
  </div>
{% endif %}

{% if page.footer_highlighted %}
  <div class="footer-highlighted">
    {{ page.footer_highlighted }}
  </div>
{% endif %}

{% if page.footer_first %}
  <div class="footer-first">
    {{ page.footer_first }}
  </div>
{% endif %}

{% if page.footer_second %}
  <div class="footer-second">
    {{ page.footer_second }}
  </div>
{% endif %}

{% if page.footer_third %}
  <div class="footer-third">
    {{ page.footer_third }}
  </div>
{% endif %}

{% if page.footer_bottom %}
  <div class="footer-bottom">
    {{ page.footer_bottom }}
  </div>
{% endif %}
